body {
  background: #fcfcfc;
  padding: 20px;
  color: #434343;
}

label {
  display: block;
  font-size: inherit;
  color: #333;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  opacity: 1;
  display: inline-block;
  margin-right: 15px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  margin-right: 15px;
}

.input-text {
  width: 100%;
  max-width: 400px;
}
.input-number {
  width: 100%;
  max-width: 400px;
}

input[type=number]:not(.browser-default), input[type=text]:not(.browser-default) {
  height: 1rem;
  margin: 0;
}

.input-text, .input-checkbox, .input-number, .input-radio {
  margin: 20px 0;
}

.input-radio {
  display: flex;
  label {
    margin: 0 30px 0 0;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.col-half {
  width: 50%;
  min-width: 400px;
}

.login__section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container {
  border-radius: 5px;
  padding: 30px 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid rgba(191, 191, 191, 0.77);
  //box-shadow: 1px 3px 64px -19px rgba(0,0,0,0.35);
}

.login__form {
  margin: 10px 0 50px 0px;
  display: flex;
  width: 100%;
  .login-input__text {
    width: 100%;
  }
}

#login-input__text {
  height: 35px;
}

.login-input__submit {
  display: flex;
  justify-content: center;
}

.repositories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  li {
    width: 48%;
    margin: 2% 0;
    padding: 15px;
    border: 1px solid rgba(191, 191, 191, 0.53);
    list-style-position: inside;
    @media (max-width: 850px) {
      width: 100%;
      border: none;
      margin: 2% 0 2% 2%;
      list-style-position: outside;
    }
  }
}

.repo__description {
  font-style: italic;
}
.repo__stars {
  display: inline-block;
  margin-right: 8px;
  //align-items: center;
}
.repo__stars svg {
  position: relative;
  top: 2px;
  width: 15px;
  fill: rgb(115, 114, 114);
}

.repo__forked {
  display: inline-block;
  margin-right: 8px;
  svg {
    width: 15px;
    fill: rgb(115, 114, 114);
  }
}

.repo__lang {
  display: inline-block;
}

.repo__update {
  color: #6f6f6f;
  font-size: 13px;
}
